<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>event.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>event_focusing.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>event.png</string>
            <key>size</key>
            <string>{240,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab22c329a547232c5b80a621a4afab33:8b8de86b8f97d7b930e4ac03bcca4d22:082b87ad6254d625a20b3a81fd2725a1$</string>
            <key>textureFileName</key>
            <string>event.png</string>
        </dict>
    </dict>
</plist>
